dist: trusty
sudo: false

language: python

cache:
  pip: true
  directories:
  - "~/.platformio"

install:
- pip install -U platformio

env:
- BOARD=leonardo
- BOARD=micro
- BOARD=megaatmega2560
- BOARD=nanoatmega168
- BOARD=uno
- BOARD=teensy20
- BOARD=teensy36

script:
- set -eo pipefail;
- for e in examples/*; do
    platformio ci --board=$BOARD --lib=src $e/*;
  done
